<div class="card p-4 shadow animated fadeIn">
  <h1>
    {{ hero.nombre | uppercase }}
    <small class="text-muted">({{ hero.aparicion | date: "y" }})</small>
  </h1>
  <hr />
  <div class="row">
    <div class="col-md-4 mb-3">
      <img [src]="hero.img" [alt]="hero.nombre" class="img-fluid" />
    </div>
    <div class="col-md-8 mb-3">
      <h2>
        {{ hero.nombre }}
      </h2>
      <hr />
      <p>{{ hero.bio }}</p>

      <div class="mb-3">
        <img
          *ngIf="hero.casa == 'DC'"
          src="assets/img/DC.png"
          width="150"
          alt="DC Logo"
        />
        <img
          *ngIf="hero.casa == 'Marvel'"
          src="assets/img/marvel.png"
          width="150"
          alt="Marvel Logo"
        />
      </div>
    </div>
  </div>
  <a class="btn btn-outline-danger w-25" [routerLink]="['/heroes']">Regresar</a>
</div>
